body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #e8e6e6;
}
.parpadding {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
}

.image_resize1 {
    height: 553px;
    width: 350px;
    float: left;
    padding-right: 10px;
}


.centering {
    text-align: center;
}

.move1{
    margin-top: 36%;
}

#vresize2

/* Planet Hulk*/
    {
    width: 800px;
    height: 440px;
    padding-left: 10px;
    float: right;
}

#vresize3

/* Next Avengers: Heroes of Tomorrow*/
    {
    width: 800px;
    height: 420px;
    padding-left: 10px;
    float: right;
}

#vresize4

/*Batman Beyond: Return of the Joker*/
    {
    width: 800px;
    height: 440px;
    padding-left: 10px;
    float: right;
}

#vresize5

/*Teen Titans: Trouble in Tokyo*/
    {
    width: 800px;
    height: 440px;
    padding-left: 10px;
    float: right;
}

#vresize6

/*Justice League: The Flashpoint Paradox*/
    {
    width: 800px;
    height: 440px;
    padding-left: 10px;
    float: right;
}
