:root{
    --grey:grey;
}

body{
    background-color: #5ad2e8;
}

form{
    width: 900px;
    margin: 0px auto;
    background-color: lightblue;
}

h1, h3{
    text-align: center;
}

input{
    margin-bottom: 4%;
}

#formCenter{
    margin-left: 20%;
}

h1{
    font-size: 2rem;
}

#tipPercentage{
    background-color:var(--grey);
    margin-left: 3%;
    margin-right: 3%;
}

#tipAmount{
 background-color: var(--grey);
}

#billTotalWithTip{
    background-color: var(--grey);
}

#billLabel{
    margin-left: 4%;
    margin-right: 4%;
}

#billTotal{
    margin-right: 3%;
}

#tip{
    margin-right: 7%;
}

#range{
    width:26.5%;
}

/* The media query below was checked in google crome on an iPhone SE and it looks good */

@media (max-width:375px){
    form{
        width:230px;
        overflow: hidden;
    }
    #range{
        width:86%;
    }
    #tipPercentage{
        margin-left: 1%;
        margin-right: 3%;
    }

    h1{
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 1rem;
    }

    form{
        margin: 0px 0px;
    }

    #formCenter{
        margin-left: 10%;
    }
}