p{
    font-size: 2rem;
}

#place{
    margin-right: 0.5%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
    margin-top: 2%;
}

#table1{
    visibility: hidden;
}

#table1 input{
    border: none;
    font-size: 1rem;
}


label{
    font-size: 1.5rem;
    margin-left: 5%;
}

th{
    font-size: 1.5rem;
    background-color: pink;
}

p{
    font-size: 1.5rem;
}

#region{
    width:70%;
}

@media (max-width: 600px){
    table{
        width: 98%;
    }

    label{
        font-size: 1rem;
    }

    #table1 input{
        font-size: 0.9rem;
    }

    p{
        font-size: 1.5rem;
    }
}
